.contactFormPage {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.contactFormHeading {
  margin-bottom: 50px;
  text-align: center;
}

.contactFormHeading h4 {
  margin-top: 10px;
}

.contactContainer{
  display: flex;
  flex-direction: row-reverse;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 8px rgb(113, 113, 113);
}

.contactTapesTmg{
  display: flex;
  align-items: center;
}

.contactTapesTmg img{
  width: 400px;
  height: 370px;
}

.contact-form {
  padding: 30px 50px;
  background-color: rgb(248, 117, 55);
  border-radius: 10px;
  width: fit-content;
  margin: 0 auto;
}

.contact-form h2 {
  padding-bottom: 3px;
  margin-bottom: 15px;
  border-bottom: 2px solid black;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 5px;
}

form input,
form textarea {
  width: 300px;
  padding: 8px 10px;
  border: none;
  border-radius: 3px;
  margin-bottom: 15px;
  outline: none;
}

form button {
  width: fit-content;
  padding: 7px 35px;
  border-radius: 30px;
  margin: 20px auto 0 auto;
  border: 2px solid black;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  color: white;
  box-shadow: 2px 2px 4px rgb(194, 68, 10);
}

@media screen and (max-width: 800px) {
  .contactTapesTmg{
    display: none;
  }
}

@media screen and (max-width: 430px) {
  .contact-form {
    padding: 30px 20px;
  }

  form input, form textarea{
    width: 270px;
  }

  .contactFormPage{
    height: fit-content;
    margin-top: 120px;
  }

  .contactFormHeading h2{
    font-size: 19px;
  }
  .contactFormHeading h4{
    font-size: 15px;
  }
}
