
.footer{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding-bottom: 50px;
    margin-top: 100px;
}

.footer-card{
    max-width: 500px;
    padding: 10px 40px;
    border-left: 2px solid rgb(39, 27, 209);
    font-weight: bold;
}

.footer-lable{
    font-size: 20px;
    margin: 5px auto;
    color: rgb(39, 27, 209);
}

@media screen and (max-width: 850px) {
    .footer{
        flex-direction: column;
    }
    .footer-card{
        margin: 20px 50px;
    }
}