.hero{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1150px;
    margin: 0 auto;
    padding: 250px 20px 100px 20px;
}

.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 5;
}

.hero-text p{
    font-size: 45px;
    width: 400px;
    line-height: 60px;
}

.hero-text p:nth-child(2){
    font-size: 16px;
    line-height: 25px;
}

.hero-vid{
    z-index: 5;
}

.hero-vid video{
    margin: 0;
    border-radius: 10px;
}

@media screen and (max-width: 1000px) {
    .hero-text p{
        font-size: 40px;
        text-align: center;
    }
}

@media screen and (max-width: 839px) {
    .hero{
        justify-content: space-around;
    }
    .hero-text{
        margin-bottom: 100px;
    }
    .hero-text p:nth-child(2){
        width: 330px;
        margin: 30px auto 0 auto;
    }
}

@media screen and (max-width: 700px) {
    .hero-text p{
        font-size: 30px;
        line-height: 45px;
    }
}

@media screen and (max-width: 420px) {
    .hero-vid video{
        width: 350px;
    }
}