.hero{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 150px;
    padding-bottom: 50px;
}

.hero-text{
    display: flex;
    align-items: center;
}

.hero-text p{
    font-size: 45px;
    width: 400px;
    line-height: 60px;
}

.hero-vid video{
    margin: 0;
    border-radius: 10px;
}

.hero-vid video source{
    border-radius: 10px;
}
