.aboutUsNForm {
  width: fit-content;
  margin: 0 auto;
}


.hero {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1150px;
  margin: 0 auto;
  padding: 250px 20px 100px 20px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 5;
}

.hero-text p {
  font-size: 45px;
  max-width: 400px;
  width: fit-content;
  line-height: 60px;
}

.hero-text p:nth-child(2) {
  font-size: 16px;
  line-height: 25px;
}

.heroImages{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  z-index: 5;
}

.heroImageColumn{
  display: flex;
  justify-content: center;
}

.heroImageColumn img{
  margin: 0 10px;
  border: 3px solid black;
  padding: 3px;
}

.heroImages img{
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

@media screen and (max-width: 990px) {
  .hero {
    justify-content: space-around;
  }
  .hero-text p {
    font-size: 40px;
    text-align: center;
  }
  .heroImages{
    margin-top: 50px;
    gap: 5px;
  }
  .heroImages img{
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 839px) {
  .heroImages{
    margin-top: 10px;
  }
  .hero-text {
    margin-bottom: 100px;
  }
  .hero-text p:nth-child(2) {
    width: 330px;
    margin: 30px auto 0 auto;
  }
}

@media screen and (max-width: 700px) {
  .hero-text p {
    font-size: 27px;
    line-height: 42px;
  }
}

@media screen and (max-width: 530px) {
  .hero-text p:nth-child(2) {
    width: fit-content;
  }
  .heroImageColumn img{
    margin: 0 5px;
  }
  .heroImages img{
    width: 120px;
    height: 120px;
  }
}

@media screen and (max-width: 400px){
  .heroImageColumn img{
    margin: 0 2px;
  }
  .heroImages img{
    width: 90px;
    height: 90px;
  }
}

.products {
  text-align: center;
  max-width: 1150px;
  margin: 100px auto 50px auto;
}

.products h1 {
  color: rgb(39, 27, 209);
  margin-bottom: 70px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.card {
  width: 330px;
  height: 400px;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.733);
  border-radius: 10px;
  margin-bottom: 25px;
}

.card img {
  width: 280px;
  height: 180px;
  margin: 10px auto;
}

.card p {
  margin-top: 10px;
}

.vision {
  text-align: center;
  max-width: 1150px;
  margin: 50px auto 50px auto;
}

.vision h1 {
  color: rgb(39, 27, 209);
}

.vision p {
  max-width: 700px;
  padding: 0 15px;
  margin: 10px auto;
}

.goals {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 40px;
}

.goals-card {
  max-width: 350px;
  background-color: rgba(255, 255, 255, 0.733);
  border-radius: 10px;
  margin: 15px;
  padding: 15px;
}

.goals-card h3 {
  color: rgb(39, 27, 209);
  margin-bottom: 40px;
}

.vision-icons {
  font-size: 55px;
  margin-bottom: 40px;
}

.aboutusAndForm {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.733);
  border-radius: 10px;
  max-width: 1150px;
  margin: 200px auto;
}

.aboutus {
  padding: 30px 50px;
}

.aboutus h2 {
  color: rgb(39, 27, 209);
  padding-bottom: 3px;
  margin-bottom: 15px;
  border-bottom: 2px solid rgb(39, 27, 209);
}

.aboutus p {
  width: 90%;
}

@media screen and (max-width: 900px) {
  .aboutusAndForm {
    flex-direction: column;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 400px) {
  .aboutus {
    padding: 30px 20px;
  }
  .aboutus p {
    width: 100%;
    text-align: center;
  }
  .aboutus h2 {
    text-align: center;
  }
}
