.hero {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1150px;
  margin: 0 auto;
  padding: 250px 20px 100px 20px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 5;
}

.hero-text p {
  font-size: 45px;
  max-width: 400px;
  width: fit-content;
  line-height: 60px;
}

.hero-text p:nth-child(2) {
  font-size: 16px;
  line-height: 25px;
}

.heroImages{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  z-index: 5;
}

.heroImageColumn{
  display: flex;
  justify-content: center;
}

.heroImageColumn img{
  margin: 0 10px;
  border: 3px solid black;
  padding: 3px;
}

.heroImages img{
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

@media screen and (max-width: 990px) {
  .hero {
    justify-content: space-around;
  }
  .hero-text p {
    font-size: 40px;
    text-align: center;
  }
  .heroImages{
    margin-top: 50px;
    gap: 5px;
  }
  .heroImages img{
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 839px) {
  .heroImages{
    margin-top: 10px;
  }
  .hero-text {
    margin-bottom: 100px;
  }
  .hero-text p:nth-child(2) {
    width: 330px;
    margin: 30px auto 0 auto;
  }
}

@media screen and (max-width: 700px) {
  .hero-text p {
    font-size: 27px;
    line-height: 42px;
  }
}

@media screen and (max-width: 530px) {
  .hero{
    padding: 150px 20px 100px 20px;
  }
  .hero-text p:nth-child(2) {
    width: fit-content;
  }
  .heroImageColumn img{
    margin: 0 5px;
  }
  .heroImages img{
    width: 130px;
    height: 130px;
  }
}

@media screen and (max-width: 400px){
  .heroImageColumn img{
    margin: 0 2px;
  }
  .heroImages img{
    width: 100px;
    height: 100px;
  }
}

.visionWrapper{
  background-color: rgb(248, 117, 55);
  clip-path: polygon(-800% 100%, 100% 0, 100% 88%, 0% 100%);
  margin-top: 50px;
  padding: 50px 0;
}

.vision {
  text-align: center;
  max-width: 1150px;
  margin: 50px auto 50px auto;
}

.vision p {
  max-width: 700px;
  padding: 0 15px;
  margin: 10px auto;
}

.goals {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 40px;
}

.goals-card {
  max-width: 320px;
  background-color: rgba(255, 255, 255, 0.733);
  border-radius: 10px;
  margin: 15px;
  padding: 15px 10px;
  box-shadow: 2px 2px 4px rgb(176, 81, 8);
}

.goals-card h3 {
  margin-bottom: 40px;
}

.vision-icons {
  font-size: 55px;
  margin-bottom: 40px;
  color: rgb(248, 117, 55);
}

@media screen and (max-width: 800px){
  .visionWrapper{
    margin-top: 20px;
    clip-path: polygon(-2000% 100%, 100% 0, 100% 95%, 0% 100%);
  }
}

.topProds{
  margin-top: 60px;
  text-align: center;
}

.swiperContainer{
  padding: 50px 50px;
}

.swiperCard{
  position: relative;
  background-color: white;
  border-radius: 5px;
  box-shadow: 4px 4px 8px rgb(115, 115, 115);
  margin: 10px 0px 50px 0;
  height: 420px;
}

.tapeImg img{
  width: 200px;
  height: 200px;
}

.tapeInfo{
  margin-top: 20px;
  margin-left: 15px;
  text-align: left;
}

.swiperCard button{
  position: absolute;
  border: 1px solid black;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 7px 20px;
  border-radius: 30px;
  cursor: pointer;
  background-color: rgb(57.676, 171.447, 255);
  transition: all 0.3s ease;
}

.swiperCard button:hover{
  box-shadow: 2px 2px 2px rgb(76, 76, 76);
}

@media screen and (max-width: 900px){
  .swiperContainer{
    padding: 50px 10px;
  }
}