.products{
    position: relative;
    text-align: center;
    z-index: 5;
    margin-top: 150px;
}

.filterBox{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 0 50px;
}

.filterBox h2{
    margin: 0 auto;
}

.allTapes{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
    padding: 0 20px;
}

.tape{
    position: relative;
    background-color: white;
    border-radius: 5px;
    box-shadow: 4px 4px 8px rgb(115, 115, 115);
    margin: 10px 0px 20px 0;
    padding: 0px 40px;
    height: 420px;
}

.tapeImg img{
    width: 200px;
    height: 200px;
}

.tapeInfo{
    margin-top: 20px;
    text-align: left;
}

.tapeBtn{
    position: absolute;
    border: 1px solid black;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 7px 20px;
    border-radius: 30px;
    cursor: pointer;
    background-color: rgb(40, 178, 224);
    transition: all 0.3s ease;
  }
  
.tapeBtn:hover{
    box-shadow: 2px 2px 2px rgb(76, 76, 76);
}

@media screen and (max-width: 450px) {
    .products{
        margin-top: 100px;
    }

    .tape{
        padding: 0 20px;
    }

    .allTapes{
        padding: 0;
        margin-top: 20px;
        gap: 0px;
    }
    .filterBox{
        padding: 0 5px;
    }
}

@media screen and (max-width: 270px) {
    .tape{
        padding: 0 10px;
    }
}