.products{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 100px;
}

.products h1{
    color: rgb(39, 27, 209);
    margin-bottom: 70px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.card{
    width: 350px;
    height: 400px;
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.733);
    border-radius: 10px;
    margin-bottom: 25px;
}

.card img{
    width: 280px;
    height: 180px;
    margin: 10px auto;
}

.card p{
    margin-top: 10px;
}
