.vision{
    text-align: center;
    margin-bottom: 50px;
}

.vision h1{
    color: rgb(39, 27, 209);
}

.vision p{
    max-width: 700px;
    margin: 10px auto;
    font-size: 20px;
}

.goals{
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}

.goals-card{
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.733);
    border-radius: 10px;
    padding: 15px;
}

.goals-card h3{
    color: rgb(39, 27, 209);
    margin-bottom: 20px;
}
