*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  /* color: rgb(122, 122, 122); */
  scroll-behavior: smooth;
}

.app{
  background-color: #FFF7E9;
}

.svg1, .svg2{
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 1200px;
  height: 100%;
  z-index: 1;
}

.svg1 img, .svg2 img{
  position: relative;
  top: -60%;
  right: -40%;
}

.svg1 img{
  transform: rotate(50deg);
  animation: spin-svg1 320s infinite linear;
  top: -55%;
  right: -38%;
}

.svg2 img{
  animation: spin-svg2 360s infinite linear;
}

.aboutUsNForm{
  width: fit-content;
  margin: 0 auto;
}

@keyframes spin-svg1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes spin-svg2 {
  from {
    transform: rotate(50deg);
  }
  to {
    transform: rotate(409deg);
  }
}

@media screen and (max-width: 800px) {
  .svg1, .svg2{
    width: 800px;
    height: 700px;
  }
  .svg1 img{
    top: -20%;
    right: -35%;
  }
  .svg2 img{
    top: -25%;
    right: -37%;
  }
} 

@media screen and (max-width: 500px){
  .svg1, .svg2{
    width: 600px;
    height: 550px;
  }
  .svg1 img{
    right: -45%;
  }
  .svg2 img{
    right: -48%;
  }
}